body {
background-color: #7f6ebc;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #9fe14e;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}